h1{
    color: green;
    text-align: center;
font-size: 60px;
}
h2{
    text-align: center;
    color: green;
    font-size: 60px;
}
video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 512px;
    width: 512px;
}
audio{
 display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #654321;
}
p{
    color: green;
    font-size: 30px;
}
video:hover{
    box-shadow: 0 0 30px green, 0 0 30px green, 0 0 30px green;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}
audio{
width:100%;
}
