*{
    margin: 0;
    padding: 0;
}
Video {
}
body{
background-image: url("rodenttube background.png");
background-repeat:no-repeat;
  background-attachment: fixed; 
  background-size:100% 100%;
  display:block;
  max-width: 100%;
    overflow-x: hidden;
}
  iframe {
        position: relative;
        top: -80px;
	height:315px;
    }
.ytp-title-text {

display: none;

}
input{
float:center;
}

div{
float: left;
text-color:brown;
width:98%;
object-fit: fill;
}
.title{
background-color: #654321;
color: #00D200;
font-weight:bold;
font-size:20px;
}

.youtube-container {
	overflow: hidden;
	width: 100%;
	/* Keep it the right aspect-ratio */
	aspect-ratio: 16/9;
	/* No clicking/hover effects */
	.title: hidden;
	}
.con{
    margin: 20px 10px;
}

#search{
    margin: 0 10px;
    width:98%;
    height: 100px;
}

.hidden{
    display: none;
    }
