*{
    margin: 0;
    padding: 0;
}
body{
background-image: url("Kerstkaart 2.png");
  background-repeat: no-repeat;
  background-size:cover;
  display:block;
}
input{
float:center;
}
div{
float:left;
}

.con{
    margin: 20px 10px;
}

#search{
    margin: 0 10px;
    width: 100%;
    height: 100px;
}

.hidden{
    display: none;
}
