*{
    margin: 0;
    padding: 0;
}
Video {
Width: 600x;
Height:500px;
}
body{
background-image: url("rodenttube background.png");
background-repeat:no-repeat;
  background-attachment: fixed; 
  background-size:100% 100%;
  display:block;
  max-width: 100%;
    overflow-x: hidden;
}
input{
float:center;
}

div{
float: left;
text-color:brown;
width:98%;
}
.title{
background-color: #654321;
color: #00D200;
font-weight:bold;
font-size:20px;
}


.con{
    margin: 20px 10px;
}

#search{
    margin: 0 10px;
    width:98%;
    height: 100px;
}

.hidden{
    display: none;
}
